ion-content.background {
	--background: url(../../../assets/imgs/login-bg.jpg) 0 0/100% 100% no-repeat;
}

ion-card {
	margin: 9rem;
	padding: 2em;
	background-color: #060606ba;
	min-height: 100vh;
	> i-card-header {
		text-align: center;
		> ion-card-title {
			font-size: 2.5em;
			font-weight: bold;
		}
		> ion-card-subtitle {
			font-size: 2.1em;
			font-weight: 500;
		}
	}
}
