<ion-content [formGroup]="turmasForm" (keyup)="sendTurmas()">
  <ion-list lines="full" class="ion-no-margin">
    <ion-list-header lines="full">
      <ion-label>
        Turmas
      </ion-label>
      <ion-button color="tertiary" (click)="addTurma()" expand="block" shape="round">
        Nova turma
      </ion-button>
    </ion-list-header>
    <form formArrayName="turmas" *ngFor="let obj of listaTurmas?.controls; let i=index">
      <ion-item-group [formGroup]="obj">
        <ion-item>
          <ion-label position="floating">Informações da turma</ion-label>
          <ion-input formControlName="maximo_alunos" ngDefaultControl placeholder="número Maximo de alunos"
            type='number'>
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Professor Responsavel</ion-label>
          <ion-input formControlName="responsavel" ngDefaultControl placeholder="Professor Responsavel"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Matricula da Turma</ion-label>
          <ion-input formControlName="codTurma" ngDefaultControl placeholder="Matricula da Turma"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Curso</ion-label>
          <ion-select (change)="sendTurmas()" formControlName="curso" ngDefaultControl multiple="true"
            placeholder="Selecione as diciplinas">
            <ion-select-option *ngFor="let item of cursos" [value]="item">{{item}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-list-header>
          <ion-label>
          </ion-label>
          <ion-button color="danger" (click)="removeTurma(i)" size="small" expand="block" shape="round">
            Remover
          </ion-button>
        </ion-list-header>
      </ion-item-group>
    </form>
  </ion-list>
</ion-content>